#projects {
  margin-top: 225px;
  background: rgb(232, 241, 239);
  padding: 0%;
}

#flex-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
}
.left {
  min-width: 50vw;
  box-sizing: border-box;
  padding: 11vh 6vw;
}
.right {
  min-width: 50vw;
  flex-direction: column;
  display: flex;
}
.left img {
  clip-path: circle(50% at 50% 50%);
  width: 43vw;
  height: 40vw;
}

.list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: flex-end;
  /* flex */
  padding-right: 2vw;
  padding-top: 3vh;
  font-size: 2vw;
  font-weight: 600;
  color: grey;
}
.items {
  padding-right: 3vw;
  text-align: center;
}
.mid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, auto));
  row-gap: 3vh;
  padding-top: 5vh;
  margin-left: 3vw;
  margin-right: 3vw;
}
.mid img {
  width: 10vw;
  height: auto;
  margin: auto;
}
button {
  border: 3px solid blue;
  border-radius: 30px;
  width: 13vw;
  height: 3vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  font-size: 1.2vw;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}
button a {
  text-decoration: none;
  color: black;
}
@media (max-width: 820px) {
  .mid {
    margin-left: 1vw;
    margin-right: 1vw;
    grid-template-columns: repeat(auto-fill, minmax(160px, auto));
  }
}
@media (max-width: 680px) {
  .mid {
    margin-left: 1vw;
    margin-right: 1vw;
    grid-template-columns: repeat(auto-fill, minmax(110px, auto));
  }
}

