#projects {
  margin-top: -8px;
  background: #341b3d;
  /* background: #c2a0c7; */
  /* background: rgb(255, 255, 255); */
  padding-bottom: 3vh;
}

#flex-container {
  display: flex;
  /* flex-direction: row; */
  min-height: 100vh;
  align-items: center;
  padding-right: 1.8vw;
  padding-top: 2.2vh;
}
.left {
  width: 50vw;
  /* padding: 11vh 6vw; */
}

.left img {
  clip-path: circle(49.5% at 44.5% 49%);
  width: 50vw;
  height: 47vw;
  margin-top: -6rem;
}

.right {
  width: 50vw;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-top: 3vh;
  font-size: 2vw;
  font-weight: 600;
  color: #c2a0c7;
  padding-right: 0.5vw;
  margin-left: 8.5vw;
}
.items {
  margin-right: 1.5vw;
  text-align: center;
}
.mid {
  margin-right: 2.5vw;
  margin-top: 2.2vh;
}

.mid .project_sponsors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, auto));
  row-gap: 3vh;
  width: 100%;
  list-style-type: none;
  align-items: center;
}
.mid .project_sponsors li {
  align-self: center;
  width: 25vw;
  padding: 0vh 3.5vw;
}
.mid img {
  width: 10vw;
  height: auto;
  margin-left: 3vw;
  margin-right: 3vw;
  z-index: 10;
  padding: 10px;
}

.mid img:hover {
  border: solid 3px black;
  border-radius: inherit;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px black;
}

.right button {
  border: 3px solid blue;
  background: #ad9fff;
  opacity: 0.8;
  border-radius: 30px;
  width: 13vw;
  height: 3vw;
  margin-left: 20vw;
  margin-right: auto;
  margin-top: 12vh;
  font-size: 1.2vw;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}

.right button a {
  text-decoration: none;
  color: #2721a0;
}
.desc {
  display: none;
}

@media (max-width: 990px) {
  .mid .project_sponsors {
    margin-left: 1vw;
    margin-right: 1vw;
    grid-template-columns: repeat(auto-fill, minmax(180px, auto));
  }
}

@media (max-width: 786px) {
  header {
    height: 3vh;
    background-color: rgb(102, 102, 218);
    width: 100%;
  }
  #flex-container {
    display: inline;
  }
  .left {
    display: none;
  }
  .right {
    width: 100vw;
  }
  .list {
    display: flex;
    justify-content: space-around;
    color: #c2a0c7;
    font-size: 1.7em;
  }
  .mid .project_sponsors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 80vw;
    padding-left: 0%;
    padding-right: 0%;
    align-items: center;
    list-style-type: none;
    margin-top: 8vh;
  }
  .mid {
    display: flex;
    margin: 0%;
    height: 90vh;
  }
  .mid img {
    width: 15vh;
    object-fit: contain;
  }

  .desc {
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    align-self: center;
    font-size: 3.8em;
    width: 15vw;
    margin-right: 6vw;
    color: rgb(129, 64, 138);
    font-weight: 700;
  }
  .right button {
    border: 3px solid blue;
    background: #ad9fff;
    opacity: 0.8;
    border-radius: 30px;
    width: 40vw;
    height: 13vw;
    font-size: 5vw;
    font-weight: 900;
    font-family: "Times New Roman", Times, serif;
    margin-left: 29vw;
    margin-top: 10vh;
  }
}
