.card {
  position: relative;
  width: 200px;
  height: 275px;
  /* background: #fff; */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  margin: 2% 2% 2% 2%;
}

.active-card {
  position: relative;
  width: 300px;
  height: 425px;
  background: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  margin: 2% 2% 2% 2%;
}

.imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
}
.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
}
.content .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.content .details h2 {
  color: #444;
  font-size: 1.3em;
  font-weight: 500;
}
.content .details h2 span {
  font-size: 0.8em;
  color: #03a9f4;
  font-weight: 400;
}
.sci {
  position: relative;
  display: flex;
  margin-top: 5px;
}
.sci li {
  list-style: none;
  margin: 4px;
}
.sci li a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  font-size: 1.2em;
  color: #444;
  text-decoration: none;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}
.sci li a:hover {
  background: #03a9f4;
  color: #fff;
}

