.speakers_sec {
  display: flex;
  background-image: linear-gradient(
    to bottom right,
    rgb(94 41 199),
    white,
    white
  );
  flex-direction: column;
}

.speaker_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.heading_title {
  font-size: 2.5rem;
}

.container {
  display: flex;
  padding: 20px;
}

.speakers {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 60vw;
}

.speakers_card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.speakers_img {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin: 0rem 1.25rem 2.7rem 1.25rem;
  transition-duration: 0.5s;
}

.speakers_img a {
  color: rgb(112, 71, 71);
  text-decoration: none;
  font-size: 150%;
}

.speakers_img img {
  border-radius: 50%;
  min-width: 30px;
  height: auto;
}

.speakers_img :hover {
  color: rgb(7, 19, 4);
  font-size: 160%;
}

.speakers_img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.speaker-thinkFace {
  display: flex;
}

.speaker-thinkFace img {
  position: absolute;
}
