.speakers_sec {
  display: flex;
  background-image: linear-gradient(
    to bottom right,
    rgb(94 41 199),
    white,
    white
  );
  flex-direction: column;
  min-width: 100vw;
}

.speaker_heading {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.heading_title {
  font-size: 2.5rem;
}

.container {
  display: flex;
  min-width: 100vw;
  padding: 20px;
}

.speakers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 60vw;
}

.speakers_card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.speakers_img {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin: 0rem 1.25rem 2.7rem 1.25rem;
  transition-duration: 0.5s;
}

.speakers_img a {
  color: rgb(112, 71, 71);
  text-decoration: none;
  font-size: 150%;
}

.speakers_img img {
  border-radius: 50%;
  min-width: 30px;
  height: auto;
}

.speakers_img a:hover {
  color: rgb(7, 19, 4);
  transform: scale(1.1);
}

.speakers_img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.speaker-thinkFace {
  display: flex;
}

.speaker-thinkFace img {
  position: absolute;
  width: 38.5vw;
  height: 93.5vh;
}

@media (max-width: 1100px) {
  .speaker-thinkFace {
    display: none;
  }
  .container{
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .speakers_sec {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-width: 90vw;
    align-items: center;
    justify-content: center;
  }

  .speaker_heading {
    color: rgb(94 41 199);
    display: flex;
    flex-direction: column;
    min-width: 10vw;
    padding: 0;margin: 0;border: 0;
    transform: rotate(90deg);
    font-weight: bolder;
    font-size: 3rem;
  }
}
