.projects {
  overflow: hidden;
  background: #000000;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

.Container-arrows {
  justify-content: space-between;
  position: relative;
  background-color: rgb(255, 0, 0);
  background-color: black;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 100;
  color: white;
}

.Arrow1 {
  left: 25px;
  top: 221px;
  position: relative;
  z-index: 1000;
  color: white;
  /* border: 3px solid white; */
  padding: 10px 12px;
  /* border-radius: 50px; */
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.Arrow1:hover {
  transform: scale(1.2);
}

.Arrow2:hover {
  transform: scale(1.2);
}

.Arrow2 {
  top: 221px;
  right: 7px;
  position: relative;
  z-index: 1000;
  color: white;
  /* border: 3px solid white; */
  padding: 10px 12px;
  /* border-radius: 50px; */
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.proj_link {
  text-decoration: none;
}

.proj_link-github {
  color: white;
  z-index: 100;
}

.proj_link-github:hover {
  color: aqua;
}

.filter_option {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #191417;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 9px;
  padding-bottom: 9px;
}

.filter_option h3 {
  color: white;
  margin-right: 4rem;
}

.proj_slides {
  padding: 20px;
  overflow: hidden;
  display: flex;
}

.proj_item {
  display: flex;
  background-color: #191417;
  color: rgb(212, 208, 208);
  border-radius: 5px;
  border: 2px solid rgb(128, 125, 125);
  transition: all ease 1s;
  box-shadow: 1px 1px 1px 2px rgb(56, 55, 56);
  padding: 4px;
}
.proj_vid video {
  right: 0;
  bottom: 0;
  width: 100vw;
  padding-right: 0.001vw;
  background-size: cover;
}
.proj_item:hover {
  box-shadow: 5px 5px 2px 2px rgba(56, 55, 56, 0.534);
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.proj_item:hover .proj_desc {
  font-size: 1em;
  transition: all ease-in 0.2s;
}
.proj_item:hover .proj_title {
  font-size: 1.5em;
  transition: all ease-in 0.2s;
}
.projects .proj_fil {
  margin: 0% !important;
}
.proj_item img {
  width: 40%;
  object-fit: contain;
  padding: 2vw;
}
.proj_title {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-weight: 600;
  font-size: 1.4em;
  text-transform: uppercase;
}
.proj_desc {
  padding-bottom: 2vh;
  font-size: 1em;
  text-align: left;
}
#proj_form {
  margin: 0% !important;
  width: fit-content;
  padding-top: 0px;
}
.proj_slt {
  width: 300px;
  color: rgb(255, 255, 255);
  background-color: #191714;
}
@keyframes fadin {
  0% {
    display: flex;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.no_view {
  display: none;
  animation: fadin 2s;
}
@media (max-width: 800px) {
  #proj_form {
    margin: 0% !important;
    display: block;
    padding-left: 3vw;
  }
}
@media (max-width: 622px) {
  .proj_vid {
    height: 25vh;
  }
  .filter_option h3 {
    display: none;
  }
  #proj_form {
    padding: 0%;
  }
}
@media (max-width: 400px) {
  .proj_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, auto));
    width: 80vw;
    margin: 5vw auto;
    grid-gap: 4vw;
    text-align: center;
    height: auto;
  }
  .proj_slt {
    width: 50vw;
  }
  .proj_head {
    font-size: 14vw;
  }
}
@media (max-width: 920px) {
  .proj_grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  }
}
