.button {
  background-color: transparent;
  border-radius: 0.8em;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin: 10px;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 0 40px 40px rgb(119, 119, 153) inset, 0 0 0 0 rgb(119, 119, 153);
  transition: all 150ms ease-in-out;
}

.button:hover,
:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 10px 0 rgb(191, 191, 221) inset,
    0 0 10px 4px rgb(191, 191, 221);
}
