#About {
  margin-top: -50px;
}

.writings {
  margin-top: -700px;
  margin-left: 1330px;
}

.writings h1 {
  font-size: 60px;
}

.writings2 {
  margin-top: 90px;
  margin-left: 1000px;
}

.writings2 h1 {
  font-size: 25px;
}
