#About {
  margin-top: -10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Fish video {
  position: absolute;
  z-index: -5;
  margin-top: 0px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

.Papercut img {
  margin-top: -37px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.heading,.subject{
  display: none;
}

@media only screen and (max-width: 1870px) {
  #About {
    margin-top: 35px;
  }
}
@media only screen and (max-height: 812px) {
  #About {
    margin-top: 0;
  }
}
@media only screen and (max-width:768px) {
  .Fish,.Papercut,#About{
    margin: 0;
    display: none;
    align-items: flex-start;
  }
  #About{
      display: flex;
      flex-direction: row;
      min-height: 75vh;
      background-color:darkcyan;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .heading{
      display: block;
      writing-mode: vertical-rl;
      align-self: flex-start;
      transform: rotate(180deg);
      margin-left: 2vw;
      min-width: 15vw;
      font-size: 10vw;
      font-weight: bolder;
      margin-top: 6vh;
      color: skyblue;
  }
  .subject{
      display: flex;
      flex-direction: column;
      text-align: left;
      min-width: 67vw;
      font-size: 225%;
      padding:6vh 5vw 0vh 5vw;
      color: white;
  }
}
@media only screen and (max-width:540px) {
  .subject{
      font-size: 150%;
  }
}
@media only screen and (max-width:411px) {
  #About{
    min-height: 83vh;
  }
  .subject{
      font-size: 150%;
  }
}
@media only screen and (max-width:375px) {
  #About{
    min-height: 90vh;
  }
  .subject{
      font-size: 140%;
  }
}
@media only screen and (max-width:375px) and (height:812px){
  #About{
    min-height: 75vh;
  }
  .subject{
      font-size: 140%;
  }
}
@media only screen and (max-width:360px) {
  #About{
    min-height: 90vh;
  }
  .subject{
      font-size: 135%;
  }
}
@media only screen and (max-width:320px) {
  #About{
    min-height: 90vh;
  }
  .subject{
      font-size: 120%;
  }
}
@media only screen and (max-width:280px) {
  .subject{
      font-size: 120%;
  }
}
