#About {
  margin-top: -2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Fish video {
  position: absolute;
  z-index: -5;
  margin-top: 0px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

.Papercut img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  #About {
    display: none;
  }
}

@media (max-height: 812px) {
  #About {
    margin-top: 0px;
  }
}

@media (max-width: 1870px) {
  #About {
    margin-top: 35px;
  }
}




@media only screen and (max-width:768px) {
  /*HTML CODE FOR MOB VIEW SSCREEN*/
  /*<div class="heading">WHAT IS WOC</div>
    <p class="subject">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officia eveniet impedit accusantium totam suscipit ut error maxime nesciunt. Obcaecati praesentium harum excepturi nihil repellat cupiditate fuga sequi a odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias tenetur voluptas eligendi debitis architecto aperiam quos nemo, consectetur similique ea esse velit modi veritatis voluptatem nesciunt animi exercitationem ex nulla.</p>*/
  body{
      display: flex;
      flex-direction: row;
      min-height: 100vh;
      background-color:darkcyan;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .heading{
      display: block;
      writing-mode: vertical-rl;
      align-self: self-start;
      transform: rotate(180deg);
      min-width: 20vw;
      font-size: 14vw;
      font-weight: bolder;
      margin-top: 6vh;
      color: skyblue;
  }
  .subject{
      display: flex;
      flex-direction: column;
      text-align: left;
      min-width: 67vw;
      font-size: 225%;
      padding:3vh 5vw 0vh 5vw;
      color: white;
  }
}
@media only screen and (max-width:540px) {
  .subject{
      font-size: 160%;
  }
}
@media only screen and (max-width:411px) {
  .subject{
      font-size: 150%;
  }
}
@media only screen and (max-width:360px) {
  .subject{
      font-size: 125%;
  }
}
@media only screen and (max-width:280px) {
  .subject{
      font-size: 120%;
  }
}