.navBar {
  position: absolute;
  z-index: 1000 !important;
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: right;
  align-items: center;
  transition: background-color 0.5s ease;
}

.home_mob{
  display: none;
}

/* navbar links container */
.navBar_links {
  display: flex;
  list-style: none;
  padding-right: 1rem;
}

.navBar_link-item a {
  text-decoration: none;
  color: black;
}

.navLinkColor-white {
  color: white;
}

.navLinkColor-black {
  color: black;
}

/* navbar links */
.navBar_link-item {
  font-size: 120%;
  margin: 0rem 0.4rem 0rem 0.4rem;
  transition-duration: 0.5s;
  letter-spacing: 1px;
  padding: 2px 8px;
}

.navBar_link-item:hover {
  border-radius: 8px;
  transform: scale(1.14);
}

.navBar_link-item:hover a {
  color: purple;
}

/* navbar link hover effect */
.navBar_link-item::after,
.navBar_link-item::before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-in;
}
.navBar_link-item::after {
  bottom: 0;
  height: 2.5px;
  transform-origin: right;
}
.navBar_link-item::before {
  top: 0;
  height: 2.5px;
  transform-origin: left;
}
.navBar_link-item:hover::after,
.navBar_link-item:hover::before {
  transform: scale(1);
}

/* hamburger */
.navBar_hamburger {
  display: none;
  background-color: lavender;
  border-radius: 100%;
  padding: 8px;
}

.hamburger_container {
  display: flex;
  min-height: 19vh;
  align-items: center;
  position: absolute;
  right: 3vh;
}

.navBar_hamburger div {
  background-color: rgb(95, 91, 91);
  border-radius: 20%;
  width: 3rem;
  height: 4px;
  margin: 5px;
  transition: all 0.4s ease-in-out;
}

.navBar_hamburger:hover div {
  background-color: rgb(0, 0, 0);
}

/* hamburger application at 850px width */
@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .navBar {
    right: 0;
    height: 0;
  }
  .navBar_container {
    margin: 0px 3vh 0px 0px;
  }
  .navBar_links {
    width: 50vw;
    position: absolute;
    text-align: center;
    height: 100vh;
    margin-top: 0;
    padding-top: 1vh;
    padding-right: 0;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
  }
  .navBar_link-item {
    opacity: 0;
  }
  .navBar_link-item:hover {
    transition-duration: 0.5s;
    transform: scale(1.14) !important;
  }
  .navBar_link-item a {
    color: white;
    font-size: 150%;
  }
  .navBar_link-item:hover a {
    color: white;
  }
  .navBar_link-item::after,
  .navBar_link-item::before {
    background-color: rgb(104, 0, 104);
  }
  .navBar_hamburger {
    display: block;
    float: right;
    padding: 30px 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .home_comp{
    display: none;
  }
  .home_mob{
    display: unset;
  }
}

@media screen and (max-width: 672px) {
  .navBar_links {
    width: 65vw;
  }
  .navBar_link-item:hover {
    transform: scale(1.14) !important;
  }
  .navBar_hamburger {
    padding: 20px 13px;
  }
  .navBar_hamburger div {
    width: 2.5rem;
  }
}

@media screen and (max-width: 535px) {
  .navBar_links {
    width: 100vw;
    font-size: 135%;
  }
  .navBar_hamburger {
    padding: 9px 7px;
  }
  .hamburger_container {
    min-height: 20vh;
  }
  .navBar_hamburger div {
    width: 1.8rem;
    padding: 2px 0px;
  }
}

@media screen and (max-width: 360px) {
  .navBar_links {
    font-size: 100%;
  }
}

@media screen and (max-width: 279px) {
  .navBar_hamburger {
    padding: 0px 0px;
  }
  .hamburger_container {
    min-height: 14.7vh;
  }
  .navBar_hamburger div {
    width: 1rem;
    height: 1.5px;
    padding: 2px 12px;
  }
}

/* for sliding window, when hamburger is not clicked*/
.mob-view {
  transform: translateX(0%);
}

/* animation for nav links */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(6rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

/* animation for hamburger */
.cross-burger .navBar_line1 {
  transform: rotate(-405deg) translate(-5px, 8px);
}
.cross-burger .navBar_line2 {
  opacity: 0;
  transform: translateX(-2rem);
}
.cross-burger .navBar_line3 {
  transform: rotate(405deg) translate(-5px, -8px);
}

/* adding background color on scrolling */
.navBar_scroll {
  /* background-color: rgba(19, 0, 44, 0.199) */
  /*For Later */

  background-color: rgba(86, 92, 86, 0.5);
  box-shadow: 0px 3px 10px black;
}

.navBar_scroll .navBar_link-item a {
  color: white !important;
}
.navBar_scroll .navBar_link-item::before {
  background-color: rgb(104, 0, 104);
}
.navBar_scroll .navBar_link-item::after {
  background-color: rgb(104, 0, 104);
}
.navBar_scroll .navBar {
  height: 3.5rem;
}

.navBar_scroll .navBar_link-item:hover a {
  color: rgb(104, 0, 104);
  text-shadow: 2px 2px 3px black;
}
