.navBar {
  position: absolute;
  z-index: 1000 !important;
  top: 0;
  right: 0;
  position: fixed;
}

.navBar_links {
  display: flex;
  list-style: none;
  margin-top: 1.5rem;
  padding-right: 1rem;
  justify-content: right;
}

.navBar_link-item a {
  text-decoration: none;
  color: black;
}

.navBar_link-item {
  font-size: 120%;
  margin: 0rem 0.4rem 0rem 0.4rem;
  transition-duration: 0.5s;
  letter-spacing: 1px;
  padding: 2px 8px;
}

.navBar_link-item:hover {
  border-radius: 8px;
  transform: scale(1.14);
}

.navBar_link-item:hover a {
  color: rgb(255, 0, 0);
}

.navBar_link-item::after, .navBar_link-item::before{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-in;
}
.navBar_link-item::after{
  bottom: 0;
  transform-origin: right;
}
.navBar_link-item::before{
  top: 0;
  transform-origin: left;
}
.navBar_link-item:hover::after, .navBar_link-item:hover::before{
  transform: scale(1);
}

.navBar_hamburger {
  display: none;
  background-color: lavender;
  border-radius: 100%;
  padding: 8px;
}

.navBar_hamburger div {
  background-color: rgb(95, 91, 91);
  border-radius: 20%;
  width: 2rem;
  height: 4px;
  margin: 4px;
  transition: all 0.4s ease-in-out;
}

.navBar_hamburger:hover div {
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 920px) {
  body {
    overflow-x: hidden;
  }
  .navBar {
    right: 0;
  }
  .navBar_links {
    width: 50vw;
    font-size: 150%;
    position: absolute;
    text-align: center;
    height: 94vh;
    margin-top: 0;
    padding-top: 6vh;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: -1;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.7s ease-in;
  }
  .navBar_link-item {
    opacity: 0;
  }
  .navBar_link-item a {
    color: white;
  }
  .navBar_link-item:hover a {
    color: rgb(44, 218, 58);
  }
  .navBar_link-item::after, .navBar_link-item::before{
    background-color: white;
  }
  .navBar_hamburger {
    display: block;
    float: right;
    margin: 1rem 1rem 0rem 1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 650px) {
  .navBar_links {
    width: 65vw;
  }
  .navBar_link-item:hover {
    transform: scale(1.14) !important;
  }
}

@media screen and (max-width: 500px) {
  .navBar_links {
    width: 100vw;
    font-size: 135%;
  }
}

.mob-view {
  transform: translateX(0%);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(6rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

.cross-burger .navBar_line1 {
  transform: rotate(-405deg) translate(-5px, 6px);
}
.cross-burger .navBar_line2 {
  opacity: 0;
  transform: translateX(-2rem);
}
.cross-burger .navBar_line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}
