.v-timeline {
  background-color: #37b0d4e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Melt img {
  margin-top: -5px;
  float: right;
}
  .v-head
  {
    display: block;
    width:100%;
    margin-top: -650px;
    text-transform: uppercase;
    font-size: 3.3rem;
    color: wheat;
    text-align: center;
    
  }
  
  .v-time {
    margin: 10px;
    margin-bottom: 0;
  }
  
  .vertical-timeline-element-title {
    margin-bottom: 15px !important;
  }
@media only screen and (max-width: 1169px){
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    width: 50vw;
  }} 
  @media (max-width:900px){
  .v-head{
    margin-top: -600px;
  }
  @media (max-width:480px)
  {
    .Melt img{
      display: none;
    }
    .v-head{
      margin-top: 30px;
    }
  }
}
@media screen and (max-width: 850px) {
  .v-head{
    font-size: 3rem;
  }
}
@media screen and (max-width: 610px) {
  .v-head{
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 410px) {
  .v-head{
    font-size: 2rem;
  }
}