#developer {
  background: rgb(128, 125, 125);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.developer-title {
  display: flex;
  font-weight: 800;
  font-size: 3rem;
}

.developer-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}