
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slider {
    padding-left: 3em;
    padding-bottom: 3em;
    background-color:  3f1654e7;
    align-items: center;
    display: flex;
    padding-top: 0em;
}

.tittle {
    font-size: 2em;
    margin-bottom: 1.4em;
    text-align: center;
    color: whitesmoke;
}