body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";
}
.groovestreet-home {
  height: 120vh;
  background: rgb(94, 182, 255);
}

#homePage_container {
  width: 100vw;
  height: 100vw;
}

.layer1 {
  margin-left: -400px;
}

.layer2 {
  margin-left: -300px;
}

.layer3 {
  margin-left: -500px;
}

.layer4 {
  margin-left: -500px;
}

.layer5 {
  margin-left: -500px;
}

.layer6 {
  margin-left: -500px;
}

.layer7 {
  margin-left: -500px;
}
