#Welcome {
  display: none;
}
@media only screen and (max-width: 768px) {
  #Welcome {
    display: flex;
    flex-direction: column;
    min-width: 97vw;
    background-color: darkcyan;
    color: white;
    background-image: url('/src/assets/images/Landscape.png');
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 40px;
  }
  .icon1 {
    display: flex;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
  }
  .ic1 {
    width: 175px;
    height: 175px;
  }
  .icon2 {
    display: flex;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
  }
  .ic2 {
    margin: 0vh 1vw 0vh 0vw;
    width: 100px;
    height: 50px;
  }
  .text1 {
    display: flex;
    flex-wrap: wrap;
    min-height: 25vh;
    justify-content: center;
  }
  .stu_dev {
    font-size: 160%;
  }
  .text2{
    display: flex;
    flex-direction: column;
    min-height:35vh;
    justify-content:flex-start;
    align-items: center;
    padding-bottom: 4vh;
    
  }
  .text2 a,.text2 p{
    margin-top:10px;
    text-decoration: none;
  }
  .text2 a{
    font-family: 'Asap', sans-serif;
      border-radius: 5px;
      background: #377efc;
      padding: 1vw 4vw;
      font-size: 23px;
      color: #FFFF;
      text-align: center;
      margin-bottom: 8px;
  }
  .text2 a svg{
    margin-top: 2px;
    margin-right: 2px;
  }

}

@media only screen and (max-width: 672px) {
  #Welcome {
    font-size: 38px;
  }
  .ic1 {
    width: 150px;
    height: 150px;
  }
  .ic2 {
    width: 70px;
    height: 40px;
  }
}
@media only screen and (max-width: 535px) {
  #Welcome {
    font-size: 27px;
  }
  .ic1 {
    width: 125px;
    height: 125px;
  }
  .ic2 {
    width: 45px;
    height: 30px;
  }
  .text2 a{
    font-size:1.5rem;
  }
}
@media only screen and (max-width: 411px) {
  #Welcome {
    font-size: 26px;
  }
  .ic2 {
    width: 40px;
    height: 25px;
  }
}
@media only screen and (max-width: 360px) {
  #Welcome {
    font-size: 25px;
  }
  .ic1 {
    width: 100px;
    height: 100px;
  }
  .ic2 {
    width: 50px;
    height: 25px;
  }
  /* .text2 a,.text2 p{
    font-size: 6vw;
  } */
  .text2 a svg
  {
    width: 6vw;
    height: 6vw;
  }
}
@media only screen and (max-width: 320px) {
  #Welcome {
    font-size: 23px;
  }
}
@media only screen and (max-width: 280px) {
  #Welcome {
    font-size: 20px;
  }
  .icon1 {
    min-height: 15vh;
  }
  .ic1 {
    width: 75px;
    height: 75px;
  }
  .ic2 {
    width: 25px;
    height: 15px;
  }
}
@media only screen and (max-width: 279px) {
  #Welcome {
    font-size: 20px;
  }
  .icon1 {
    min-height: 15vh;
  }
  .ic1 {
    width: 25px;
    height: 25px;
  }
  .ic2 {
    width: 25px;
    height: 15px;
  }
}

.apply-button{
  height: 44px;
  width: 312px;
}
