* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 97vw;
  }
}
