.sponsors {
  background-color: skyblue;
  min-width: 100vw;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 65vh;
}

.sponsor_img {
  margin: 0rem 1.25rem 2.7rem 1.25rem;
  transition-duration: 0.5s;
}
.sponsor_img a {
  color: rgb(238, 0, 0);
  text-decoration: none;
  font-size: 150%;
}

.sponsor_img img {
  width: 200px;
  height: 100%;
  border-radius: 50%;
}

.sponsor_img :hover {
  color: rgb(66, 230, 16);
  text-decoration: underline;
  font-size: 160%;
}

.sponsor_img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
@media (max-width: 650px) 
{
  .bottom 
  {
    flex-direction: column;justify-content: center;align-items: center;
  }
}
